build
*.lo
*.la
*.tmp
*~
*.cache
.libs
Debug
*.sdf
*.ilk
*.exe
*.ipch
*.pdb
*.suo
*.layout
*.depend
.idea
*.swp
bin/pbstru
bin/codec
bin/lb
libtool*
automake*
protobuf3
*.orig
*.bak
bin/pb.bin
bin/protoc
bin/test_codec
bin/cdap
